{% extends 'base.html' %}

{% block content %}
<h1>About Us</h1>

<h2>Meet the team!</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='assets/headshot.jpg') }}" alt="Grace Phillips" class="img-fluid rounded-circle mb-3">
            <h4><bold>Grace Phillips</bold></h4>
            <h4><bold>CEO</bold></h4>
            <p>Hi everyone! Ever since I was a kid, I have always had a love for real estate. As I grew older, my passion for real estate grew stronger. I have been in the real estate business for nearly five years. Over the course of those five years, I have assisted with home buying and house selling for over 100 clients. </p>
        </div>
    </div>
</div>




{% endblock %}

