{% extends "base.html" %}

{% block content %}
    <h1>Clients Data</h1>

    <div class="card mb-4">
        <div class="card-header">
            <h5>Filter Clients</h5>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Name</label>
                        <select class="form-control" id="name" name="name">
                            <option value="">Select a name</option>
                            {% for client_name in client_names %}
                            <option value="{{ client_name }}">{{ client_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="email">Email</label>
                        <select class="form-control" id="email" name="email">
                            <option value="">Select an email</option>
                            {% for client_email in client_emails %}
                            <option value="{{ client_email }}">{{ client_email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="phone">Phone</label>
                        <select class="form-control" id="phone" name="phone">
                            <option value="">Select a phone</option>
                            {% for client_phone in client_phones %}
                            <option value="{{ client_phone }}">{{ client_phone }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
    </div>

<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#addClientModal">
            Add New Client
        </button>


    <!-- Clients Table -->
<table id="data-table" class="display table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th>Client ID</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{ table|safe }}
    </tbody>
</table>

    <!-- Add Client Modal -->
    <div class="modal fade" id="addClientModal" tabindex="-1" role="dialog" aria-labelledby="addClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addClientModalLabel">Add New Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{{ url_for('clients.add_client_data') }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="text" class="form-control" id="phone" name="phone" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Client</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit Client Modal -->
    <div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editClientModalLabel">Edit Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{{ url_for('clients.edit_client_data') }}">
                    <div class="modal-body">
                        <input type="hidden" id="edit-client-id" name="client_id">
                        <div class="form-group">
                            <label for="edit-name">Name</label>
                            <input type="text" class="form-control" id="edit-name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-email">Email Address</label>
                            <input type="email" class="form-control" id="edit-email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="edit-phone">Phone</label>
                            <input type="text" class="form-control" id="edit-phone" name="phone" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Delete Client Modal -->
<div class="modal fade" id="deleteClientModal" tabindex="-1" role="dialog" aria-labelledby="deleteClientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteClientModalLabel">Delete Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this client?
            </div>
            <div class="modal-footer">
                <form id="delete-client-form" method="post" action="">
                    <input type="hidden" id="delete-client-id" name="client_id">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
{% endblock %}

{% block scripts %}
    <!-- Include DataTables JavaScript -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#data-table').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "searching": true
            });

            $('#editClientModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var clientId = button.data('client-id');
                var clientName = button.data('client-name');
                var clientEmail = button.data('client-email');
                var clientPhone = button.data('client-phone');

                var modal = $(this);
                modal.find('#edit-client-id').val(clientId);
                modal.find('#edit-name').val(clientName);
                modal.find('#edit-email').val(clientEmail);
                modal.find('#edit-phone').val(clientPhone);
            });

            $('#deleteClientModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var clientId = button.data('client-id');
            var form = $('#delete-client-form');
            form.attr('action', '/delete_client_data/' + clientId);
            form.find('#delete-client-id').val(clientId);
            });

            $('#delete-client-form').on('submit', function(event) {
                event.preventDefault();
                var form = $(this);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function(response) {
                        location.reload();
                    }
                });

         });
    </script>

{% endblock %}