{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h1>Welcome to Grace's Real Estate Services</h1>
    <p><i>Your Trusted Guide to Finding the Perfect Home</i></p>

    <div class="row text-center mt-5">
        <div class="col-md-4 mb-4">
            <div class="service-box">
                <h4>Property Buying Assistance</h4>
                <p>Description of Service 1</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="service-box">
                <h4>Home Selling Expertise</h4>
                <p>Description of Service 2</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="service-box">
                <h4>Market Insights and Valuation</h4>
                <p>Description of Service 3</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="service-box">
                <h4>Rental and Investment Services</h4>
                <p>Description of Service 4</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="service-box">
                <h4>Relocation Support</h4>
                <p>Description of Service 5</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="service-box">
                <h4>Personalized Consultations</h4>
                <p>Description of Service 6</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}



